/* ==========================================================================
    [Table of contents]

    1. BASE
        1.1 Page Rendering Defaults
        1.2 Core Styling
        1.3 Typography
    2. LAYOUT
        2.1 Core Layout
        2.2 Small only
        2.3 medium and up
        2.4 Medium only
        2.5 large screens and up
        2.6 Large only
    3. MODULES
    4. STATES
    5. THEME
    6. UTILITY classes
    7. PRINT

    refer to http://smacss.com/
    ========================================================================== */
/* ==========================================================================
   BASE
   ========================================================================== */
/* 1.1 Page Rendering Defaults */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
/* MOBILE SCREEN */
@media (min-sidth: 760px) {
    h1 {
        font-size: 2.125rem;
        font-weight: 400;
    }

    .mobile-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* 1.2 Core Styling */
*,
*:before,
*:after {
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* 1.3 Typgraphy */
h1,
h2,
h3,
h5,
h6 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 2.125rem;
    margin: 2rem 0 6rem;
    color: #3b3b3b;
}

h2 {
    font-size: 1.75rem;
    color: #494949;
}

h3 {
    font-size: 0.6875rem;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #a3a3a3;
    margin: 0.5rem 0 2.5rem;
}

h4 {
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

p {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/* ==========================================================================
   2. LAYOUT
   ========================================================================== */
/* Helper to display empty layout containers */
div,
main,
section,
footer,
header {
    outline: 1px solid #ccc;
    min-height: 1rem;
    padding: 1rem;
}

/* 2.1 Core layout */
.row {
    display: grid;
    row-gap: 1rem;
}

.col {
    position: relative;
    background-color: rgb(242, 230, 177);
}

/* Header */
.logo-wrapper {
    display: flex;
    color: #4d4d4d;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.04rem;
}

.highlighted-text {
    color: #1eafde;
}

/* Section: Things That We Do */
.container {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.card {
    width: 5rem;
    padding: 0.75rem;
    gap: 0.625rem;
    border-radius: 0.125rem;
}

.card--web {
    border: 3px solid #feb902;
}

.card--photo {
    border: 3px solid #25c389;
}

.card--app {
    border: 3px solid #de6262;
}

.card--ux {
    border: 3px solid #1596bd;
}

/* 2.2 Small only */
@media screen and (max-width: 39.9375em) {
    .s-hide {
        display: none;
    }
}

/* 2.3 medium and up */
@media screen and (min-width: 40em) {
    .row {
        max-width: 70rem;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
        margin: 0 auto;
    }

    .grid {
        display: grid;
        column-gap: 0.5rem;
        row-gap: 0.5rem;
    }

    .m-col-2 {
        grid-template-columns: 1fr 1fr;
    }

    .m-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .m-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .m-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    .m-1-2 {
        grid-template-columns: 1fr 2fr;
    }
}

/* 2.4 Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .m-row-span {
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .m-hide {
        display: none;
    }
}

/* 2.5 large screens and up 2.6 Large only */
@media screen and (min-width: 64em) {
    .l-col-2 {
        grid-template-columns: 1fr 1fr;
    }

    .l-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .l-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .l-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    .l-col-6 {
        grid-template-columns: repeat(6, 1fr);
    }

    .l-row-span {
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .l-hide {
        display: none;
    }
}

/* .page-grid {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        "header header header header"
        "main main main main"
        "footer footer footer footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    margin: 100px;
}

footer {
    grid-area: footer;
    background: #0E2E4E;
    color: #fff;
    padding: 50px;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #3B3B3B;
}

.header-grid {
    display: flex;
    flex-direction: column;
}

.nav-bar ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    list-style: none;
}

.hero-image-wrapper img {
    background-image: none;
    justify-content: center;
    align-items: center;
}

.tab {
    width: fit-content;
    height: auto;
    display: block;
    padding: 10px;
    margin: 10px;
    background: blue;
    color: black;
} */

/* Individual tab colors */
/* .home { 
    background: #4CAF50; /* green */
/* } 
    
.portfolio { 
    background: #FF9800;  
} 

.blog { 
    background: #F44336;  
} 

.quo { 
    background: #00BCD4; 
} 

.chat { 
    background: #3F51B5; 
}  */

/* Service Section*/
/* .services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
        "heading heading heading heading"
        "offer1 offer2 offer3 offer4";
    gap: 30px;
    justify-items: center; 
    text-align: center;
}

.services-grid p {
    text-align: justify;
}
.services-grid .heading {
    grid-area: heading;

}

.services-grid .offer1 {
    grid-area: offer1;
}

.services-grid .offer2 {
    grid-area: offer2;
}

.services-grid .offer3 {
    grid-area: offer3;
}

.services-grid .offer4 {
    grid-area: offer4;
} */

/* What's Up Lately? Section */
/* .latest-work {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-work .work-container {
    display: flex;
    justify-items: space-between;
    position: relative;
    gap: 15px;
}

.work-container .container {
    background: grey;
    width: 400px;
    height: 400px;
    position: relative;
}

.container .date-badge {
    position: absolute;
    background: #D8605F;
    color: #fff;
    font-size: 17px;
    width: auto;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-container .date-text {
    font-weight: bold;
    font-size: 20px;
}

.work-container .post-info-badge {
    position: absolute;
    bottom: 0;
    background: #1596BD;
    color: #fff;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 22px;
} */

/* Section 3 */
/* .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: space-evenly;
    gap: 15px;
}

.img-container img {
    width: 400px;
    height: 400px;
    background-color: #D8605F;
}

.past-clients-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-content: space-evenly;
    gap: 30px;
}

.past-clients-grid img {
    width: 300px;
    height: 200px;
    background-color: #D8605F;
} */

/* Footer */
/* .about-alf {
    display: flex;
    gap: 40px;
    margin: 50px;
}

.about-alf img {
    width: 500px;
    height: 200px;
    border-radius: 50%;
    background-color: grey;
}

.line {
    margin: 0 0 30px;
    width: 70%;
    color: whitelight;
    border-top: 1px solid #fff;
}

.footer-four-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-about-us {
    display: flex;
    flex-direction: column;
}

/* Footer Instagram */
/* .instagram-wrapper {
    display: flex;
    flex-direction: column;
}

.extra-small-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: space-evenly;
    gap: 15px;
}

.instagram-wrapper img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-color: grey;
}

.social-icons-wrapper {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.social-icons-wrapper img {
    width: 40px;
    height: 40px;
    background-color: grey;
}    */

*/


/* ==========================================================================
   2. STATES
   ========================================================================== */
/* ==========================================================================
   2. THEME
   ========================================================================== */
/* ==========================================================================
   6. UTILITY classes
   ========================================================================== */
/* * Hide visually and from screen readers */
.hidden,
[hidden] {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

@media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
