/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 2em;
    line-height: 1.3;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* MOBILE SCREEN */
@media screen 


/* Custom styles for Metrolics website */

* {
    box-sizing: border-box;
}

.page-grid {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        "header header header header"
        "main main main main"
        "footer footer footer footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    margin: 100px;
}

footer {
    grid-area: footer;
    background: #0E2E4E;
    color: #fff;
    padding: 50px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.header-grid {
    display: flex;
    flex-direction: column;
}

.nav-bar ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    list-style: none;
}

.hero-image-wrapper img {
    background-image: none;
    justify-content: center;
    align-items: center;
}

.tab {
    width: fit-content;
    height: auto;
    display: block;
    padding: 10px;
    margin: 10px;
    background: blue;
    color: black;
}

/* Individual tab colors */ 
.home { 
    background: #4CAF50; /* green */ 
} 
    
.portfolio { 
    background: #FF9800;  
} 

.blog { 
    background: #F44336;  
} 

.quo { 
    background: #00BCD4; 
} 

.chat { 
    background: #3F51B5; 
}

/* Service Section*/
.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
        "heading heading heading heading"
        "offer1 offer2 offer3 offer4";
    gap: 30px;
    justify-items: center; 
    text-align: center;
}

.services-grid p {
    text-align: justify;
}
.services-grid .heading {
    grid-area: heading;

}

.services-grid .offer1 {
    grid-area: offer1;
}

.services-grid .offer2 {
    grid-area: offer2;
}

.services-grid .offer3 {
    grid-area: offer3;
}

.services-grid .offer4 {
    grid-area: offer4;
}


/* What's Up Lately? Section */
.latest-work {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-work .work-container {
    display: flex;
    justify-items: space-between;
    position: relative;
    gap: 15px;
}

.work-container .container {
    background: grey;
    width: 400px;
    height: 400px;
    position: relative;
}

.container .date-badge {
    position: absolute;
    background: #D8605F;
    color: #fff;
    font-size: 17px;
    width: auto;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-container .date-text {
    font-weight: bold;
    font-size: 20px;
}

.work-container .post-info-badge {
    position: absolute;
    bottom: 0;
    background: #1596BD;
    color: #fff;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 22px;
}

/* Section 3 */
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: space-evenly;
    gap: 15px;
}

.img-container img {
    width: 400px;
    height: 400px;
    background-color: #D8605F;
}

.past-clients-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-content: space-evenly;
    gap: 30px;
}

.past-clients-grid img {
    width: 300px;
    height: 200px;
    background-color: #D8605F;
}

/* Footer */
.about-alf {
    display: flex;
    gap: 40px;
    margin: 50px;
}

.about-alf img {
    width: 500px;
    height: 200px;
    border-radius: 50%;
    background-color: grey;
}

.line {
    margin: 0 0 30px;
    width: 70%;
    color: whitelight;
    border-top: 1px solid #fff;
}

.footer-four-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-about-us {
    display: flex;
    flex-direction: column;
}

/* Footer Instagram */
.instagram-wrapper {
    display: flex;
    flex-direction: column;
}

.extra-small-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: space-evenly;
    gap: 15px;
}

.instagram-wrapper img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-color: grey;
}

.social-icons-wrapper {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.social-icons-wrapper img {
    width: 40px;
    height: 40px;
    background-color: grey;
}   